<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />   
  </head>
  <body>
    <% if (defaultOauthServer) { %> 
      <script>location.replace('<%= defaultOauthServer.url %>')</script>
    <%} else {%>
      <strong>没有配置认证服务</strong>
    <%}%>
    
  </body>
</html>
